rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /files/{fileId} {
      // shared
      allow read: if request.auth != null && 
        (resource.data.ownerId == request.auth.uid || resource.data.isShared == true);
      
      // owner
      allow write: if request.auth != null && 
        request.auth.uid == resource.data.ownerId;
      
      // create
      allow create: if request.auth != null && 
        request.auth.uid == request.resource.data.ownerId;
    }
  }
}
